.calculator
	background-color $colorPrimary
	padding $layoutSpace $layoutSpaceHalf
	position relative
	z-index 100
	width 100%
	@media screen and (min-width: 560px)
		padding $layoutSpaceDouble $layoutSpace
		max-width 560px
		margin 0 auto

	.flex-wrapper
		display flex
		justify-content center
		align-items center
		+ .flex-wrapper
			margin-top 3px
		label
			display inline-block
		> div
		> label
			padding 0
			flex 2 2
			line-height: 24px
			&:last-child
				text-align left
			&:first-child
				text-align right
			@media screen and (min-width: 560px)
				line-height: 30px
		input
			font-family $fontFamiliyBase
			font-weight 700
			margin: 2px 0
			padding 2px $layoutSpaceHalf
			font-size 8px
			line-height 12px
			width 60px
			background-color $colorWhite
			border 1px solid rgba(0, 0, 0, 0.5)
			color $colorBlack
			&:disabled
				color $colorSecondary
			@media screen and (min-width: 375px)
				font-size 10px
				width 65px
			@media screen and (min-width: 560px)
				font-size 12px
				line-height 16px
				width 90px

	.calculator-fields
		input
			margin 0

	.source-fields
		margin-bottom $layoutSpaceHalf
		@media screen and (min-width: 560px)
			margin-bottom $layoutSpaceDouble
		input
			text-align center
			font-size 12px
			@media screen and (min-width: 560px)
				font-size 14px
				padding 12px 8px
		label
			position relative
			color $colorBlack
			font-size 36px
			@media screen and (min-width: 560px)
				font-size 48px
			&:before
				left -54px
				top 1px
		div:last-child label:before
			left auto
			right 10px
			top 0

	.field-wrapper
		display flex
