.page-footer
	color $colorBlack
	p
		z-index 100
		background-color $lightTransparentBg
		padding $layoutSpaceDouble
		padding-right: 80px;
		font-size 12px
		@media screen and (min-width: 375px)
			padding-right: 90px;
			font-size 14px
		@media screen and (min-width: 560px)
			padding-right $layoutSpaceDouble
			margin 0 85px
		@media screen and (min-width: 800px)
			margin 0 auto
			max-width 700px
