h1, h2
	font-family $fontFamilyHighlight

h1
	font-size 24px
	text-align center
	margin $layoutSpaceHalf
	text-transform uppercase

a
a:focus
a:visited
	color $colorBlack

a:hover
	color $colorPrimary
