body
  background-color $bodyBgColor
  color $fontColor
  font-family $fontFamiliyBase
  font-weight 500
  font-size 8px
  @media screen and (min-width: 375px)
    font-size $fontSizeBaseMobile
  @media screen and (min-width: 560px)
    font-size $fontSizeBase

main
#page-wrapper
  height 100%
  min-width 320px

.overlay-content
  text-align center
  position absolute
  width 100%
  .in-vr-mode &
    display none

.page-footer
  bottom 0
