body
  background-color $bodyBgColor
  color $fontColor
  font-family $fontFamiliyBase

h1, h2
  font-family $fontFamilyHighlight
  font-weight 900

h1
  font-size 24px
  text-align center
  margin $layoutSpaceHalf
  text-transform uppercase

.overlay-content
  position absolute
  width 100%
  padding $layoutSpace
  text-align center
