/** color scheme **/
$colorPrimary = #ef2d5e
$colorSecondary = #21897C
$colorHighlight = #F2E646
$colorSecondaryLight = #24CAFF

$colorWhite = #f0f0f0
$colorBlack = #333333
$colorBlackOpacity = rgba(20, 20, 20, 0.5)
$colorPrimaryOpacity = rgba(239, 45, 94, 0.5)

/** Layout variables **/
$bodyBgColor = $colorWhite

$lightTransparentBg = rgba(240,240,240, 0.7)
$darkTransparentBg = rgba(20, 20, 20, 0.7)


/** Font colors **/
$fontColor = $colorWhite

$linkColor = $colorSecondary
$linkColorHover = $fontColor

/** Font Families **/
/** custom font **/
$customFontPath ?= "../fonts/custom-fonts"

$fontRobotoMono = 'Roboto Mono', monospace

$fontFamiliyBase = $fontRobotoMono
$fontFamilyHighlight =  'Arial', sans-serif

$fontSizeBase = 16px
$fontSizeBaseMobile = 10px

/** icon font **/
$icomoonFontPath ?= "../fonts/iconfont"

icon-lock = "\e98f"
icon-home = "\e902"
icon-reset = "\e903"
icon-github = "\eab0"
icon-icon-height = "\e900"
icon-icon-width = "\e901"

/** Layout variables **/
$layoutSpace = 10px
$layoutSpaceHalf = $layoutSpace/2
$layoutSpaceDouble = $layoutSpace*2
$layoutSpaceAndHalf = $layoutSpace*1.5
