/** color scheme **/
$colorPrimary = #ef2d5e
$colorSecondary = #21897C
$colorHighlight = #F2E646
$colorSecondaryLight = #24CAFF

$colorWhite = #f0f0f0
$colorBlack = #333333

/** Layout variables **/
$bodyBgColor = $colorWhite


/** Font colors **/
$fontColor = $colorBlack

$linkColor = $colorSecondary
$linkColorHover = $fontColor

/** Font Families **/
$fontPathwayGothic = 'Pathway Gothic One', sans-serif;
$fontRubik = 'Rubik', sans-serif
$fontRobotoMono = 'Roboto Mono', monospace
$fontChivo = 'Chivo', sans-serif;

$fontFamiliyBase = $fontRobotoMono
$fontFamilyHighlight = $fontRubik

/** Layout variables **/
$layoutSpace = 10px
$layoutSpaceHalf = $layoutSpace/2
$layoutSpaceDouble = $layoutSpace*2
$layoutSpaceAndHalf = $layoutSpace*1.5

/** icon font **/
$icomoon-font-path ?= "/app/assets/fonts"

$icon-icon-height = "\e900"
$icon-icon-width = "\e901"
